
    <div class="container mt-6">
    <div class="columns">
        <div class="column">
            <h1>CREADO</h1>
            <div class="card mt-6">
                <div class="card-content">
                    <div class="content">
                        <table class="table">
                            <div class="container">
                                    <div class="row">
                        
                                    </div>
                                </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
