{{!-- formulario para crear todo --}}


    <div class="container mt-6">
    <div class="columns">
        <div class="column">
            <h1>TODO CREATE</h1>
            <div class="card mt-6">
                <div class="card-content">
                    <div class="content">
                        <table class="table">
                            <form action="/users" method="post">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 m-2">
                                            <label>NOMBRE</label>
                                            <input type="text" name="name">
                                        </div>
                                        <div class="col-md-12 m-2">
                                            <label>DESCRIPCION</label>
                                            <input type="text" name="description">
                                        </div>
                                    </div>
                                    <button class=" m-2 btn btn-primary">CREATE</button>
                                </div>

                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
