    <div class="container m-6">
        <div class="columns">
            <div class="column">
                <h1>Servicio web</h1>
                <div class="card mt-6">
                    <div class="card-content">
                        <div class="content">
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Fecha creacion</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each todos}}
                                    <tr>
                                        <td>{{this.nombre}}</td>
                                        <td>{{this.descripcion}}</td>
                                        <td>{{this.fechacreacion}}</td>
                                        <td><a href="/user-delete/{{this.id}}">ELIMINAR</a></td>
                                        
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>